@charset 'utf-8';

html {
  cursor: url(media/HAPPYREDLONG.png),pointer;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.text-loading{
  margin-top:300px;
  font-size:2em;
}

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #FFFEF6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}


* {
  margin: 0;
}

body{
  background-color:white;
  height: 100%;
  margin:0px 0px 0px 0px;
  user-select: none;
  color: black;
}

h1{
  margin-left: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14vw;
}

p {
  text-align: center;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.5em;
}

.ptimer{
  font-size: 3em;
  font-family: 'Zen Kurenaido', sans-serif;
}

.textcolor{
  color: #EA0032;/*唐紅*/
}

footer{
  margin-top: 200px;
  margin-bottom: 50px;
}

.link{
  text-decoration:none;
}

/*タイピングアニメーションの設定*/
#typing::after {
  content: '';
  border-right: 2px solid;
  animation: flashing 1s linear infinite;
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
}

/*以下紙吹雪の設定*/


#particles-js{ 
	position:fixed;
	z-index:-1;
	width: 100%;
	height: 100%;
	background-color:#f3f3f3;
}

#wrapper{
	position: relative;
	z-index: 1;
	width:100%;
	height: 100%;
}



@media screen and (max-width: 480px){

h1{
  margin-left: 0px;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 18.5vw;
  margin-bottom: 90px;
}
p{
  font-size: 0.8em;
  font-family: 'Zen Kurenaido', sans-serif;
}

.ptimer{
  font-size: 2em;
}

.text-loading{
  margin-top:200px;
  font-size:2em;
}

footer{
  margin-top: 250px;
  margin-bottom: 10px;
}

}